@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    padding: 15px;
    --main-color: #eee;
    --main-bg: white;
    --main-gray: #636363;
    --sec-gray: #f4f4f4;
    --main-text: #2e2e2e;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.overlay.is-active {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(46, 46, 46, 0.3);
    transition: background-color 0.3s;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-inline: auto;
    position: relative;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    background-color: var(--main-bg);
    border-radius: 15px;
    position: fixed;
    width: calc(100% - 130px);
    left: 110px;
    top: 14px;
    z-index: 2;
    transition: 0.3s;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width:768px) {
    header {
        width: calc(100% - 30px);
        left: 15px;
    }
}

header .container {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 20px;
    max-width: 100%;
}

header .logo img {
    width: 100px;
    margin-right: 30px;
}

header .nav {
    width: calc(100% / 3.5);
}

header .personal {
    width: calc(100% / 5);
    display: flex;
    justify-content: flex-end;
}

header .search {
    margin-left: 30px;
    flex: 1;
}

header .buttons ul {
    display: flex;
    align-items: center;
}

header .buttons ul li a {
    display: flex;
    color: VAR(--MAIN-GRAY);
    background-color: var(--sec-gray);
    border-radius: 15px;
    width: 40px;
    aspect-ratio: 1/1;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: 0.3s;
    padding: 5px;
}

header .buttons ul li a.active,
.toggle.active,
header .buttons ul li a:hover {
    color: #dc0407;
    background-color: #fbe2e6;
}

header .personal img {
    width: 30px;
    border-radius: 10px;
    margin-right: 5px;
}

header .personal ul li:last-of-type a {
    width: 60px;
    aspect-ratio: unset;
    margin-right: 0;
}

header .buttons ul li a img~i {
    font-size: 14px;
}

header .search input {
    border: none;
    background-color: var(--sec-gray);
    border-radius: 15px;
    padding: 15px;
    width: 100%;
    font-size: 14px;
    color: VAR(--MAIN-GRAY);
    font-weight: 500;
}

header .search input:focus {
    border: none;
    outline: none;
}

.search-icon {
    display: none;
}

@media (max-width: 991px) {
    .search input {
        display: none;
    }

    .search-icon {
        display: flex;
    }
}

@media (max-width: 768px) {
    header .nav ul li {
        display: none;
    }

    header .personal ul li:last-of-type a {
        width: 40px;
        padding: 0;
    }

    header .personal ul li:last-of-type a i {
        display: none;
    }

    header .personal img {
        width: 100%;
        border-radius: 15px;
        margin-right: 0;
    }
}

.wrap {
    width: 100vw;
    height: 36px;
    position: fixed;
    background-color: var(--main-color);
    top: 0;
    z-index: 2;
}

aside {
    position: fixed;
    left: 15px;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    min-height: calc(100vh - 30px);
    background-color: var(--main-bg);
    z-index: 4;
    transition: 0.3s;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

@media (max-width:768px) {
    aside {
        display: flex;
        align-items: center;
        width: 100%;
        left: 0;
        border-radius: 0;
        bottom: 0px;
        min-height: auto;
        height: 85px;
        overflow: hidden;
        box-shadow: 0 -12px 20px 0 rgba(0, 0, 0, 0.13), 0 -2px 4px 0 rgba(0, 0, 0, 0.12);
    }
}

aside .logo {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

aside .logo img {
    width: 100px;
    position: absolute;
    transition: 0.3s;
}

aside.closed .logo .big {
    opacity: 0;
}

aside .logo img:last-of-type {
    width: 30px;
    opacity: 0;
}

aside.closed .logo .small {
    opacity: 1;
    width: 40px;
}

aside>ul:not(:first-of-type) {
    margin-top: 10px;
}

aside .shortcuts li a,
aside .subs li a,
aside .more li a {
    display: flex;
    color: VAR(--MAIN-GRAY);
    margin-bottom: 5px;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s;
}

aside .shortcuts li a span,
aside .subs li a span,
aside .more li a span {
    transition: 0.3s;
}

aside .shortcuts li a i,
aside .subs li a i,
aside .more li a i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 30px;
    font-size: 18px;
}

aside .subs h2,
aside .more h2 {
    color: VAR(--MAIN-GRAY);
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
    transition: 0.3s;
}

aside .subs img {
    width: 25px;
    border-radius: 15px;
    margin-right: 10px;
    box-shadow: 0 1px 0 rgba(0 0 0/ 0.3);
}

aside ul li a:hover {
    background-color: var(--sec-gray);
}

.aside.buttons {
    display: none;
}

aside.closed {
    width: 85px;
    overflow: hidden;
}

aside.is-closed .shortcuts li a span,
aside.is-closed .subs li a span,
aside.is-closed .more li a span {
    display: none;
}

aside.closed .shortcuts li a span,
aside.closed .subs li a span,
aside.closed .more li a span,
aside.closed .subs h2,
aside.closed .more h2 {
    opacity: 0;
    pointer-events: none;
}

aside.closed .shortcuts li a i,
aside.closed .more li a i,
aside.closed .subs li a i,
aside.closed .subs img {
    margin-right: 0;
}

@media (max-width:768px) {
    aside {
        overflow: visible;
    }

    aside .logo {
        display: none;
    }

    aside>ul {
        display: none;
    }

    aside .aside.buttons {
        display: block;
        flex: 1;
    }

    aside .aside.buttons ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    aside .buttons ul li a {
        display: flex;
        color: VAR(--MAIN-GRAY);
        background-color: var(--sec-gray);
        border-radius: 15px;
        width: 85px;
        min-height: 70px;
        font-size: 12px;
        font-weight: 500;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        transition: 0.3s;
        padding: 5px;
    }

    aside .buttons ul li a i {
        font-size: 20px;
        margin-bottom: 10px;
    }

    aside .buttons .add i {
        margin-bottom: 0;
        font-size: 26px;
    }

    aside .buttons ul li a.active,
    aside .buttons ul li a:hover {
        color: #dc0407;
        background-color: #fbe2e6;
    }

    aside .buttons .images {
        position: relative;
        width: 24px;
        height: 22px;
        margin-bottom: 10px;
    }

    aside .buttons .images img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 100%;
        transition: 0.3s;
    }

    aside .buttons .images .c {
        opacity: 0;
    }

    aside .buttons ul li a:hover .c {
        opacity: 1;
    }

    aside .buttons ul li a:hover .b {
        opacity: 0;
    }
}

main {
    position: absolute;
    top: 85px;
    width: calc(100% - 115px);
    left: 100px;
    margin-top: 15px;
}

@media (max-width:768px) {
    main {
        width: calc(100% - 30px);
        left: 15px;
        padding-bottom: 120px;
    }
}

main .chips {
    overflow: hidden;
}

main .chips ul {
    display: flex;
    position: relative;
    gap: 9px;
}

main .chips ul::after {
    content: '';
    width: 90px;
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to left, var(--main-color) 60%, transparent);
    right: 0;
}

main .chips ul::before,
main .chips ul li a {
    display: block;
    color: var(--main-text);
    border-radius: 15px;
    padding: 8px 15px;
    font-weight: 500;
    width: fit-content;
    white-space: nowrap;
    background-color: var(--main-bg);
    transition: 0.3s ease;
}

main .chips ul::before {
    content: '\f054';
    cursor: pointer;
    font-family: "font awesome 6 free";
    font-weight: 900;
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40px;
}

main .chips ul li a.active,
main .chips ul li a:hover {
    background-color: var(--main-text);
    color: var(--main-bg);
}

main .ad {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

main .ad img,
main .ad video {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

main .vids {
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

main .vids .video {
    background-color: var(--main-bg);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.3s;
}

main .vids .video:hover {
    transform: translatey(-5px);
}

main .vids .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

main .vids .info {
    display: flex;
    flex-direction: column;
    position: relative;
}

main .vids .info .ch-logo {
    position: absolute;
    width: 50px;
    top: -25px;
    left: 15px;
    border-radius: 15px;
    border: var(--main-bg) 3px solid;
}

main .vids .info .vid-name {
    color: var(--main-text);
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 200px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

main .vids .info span {
    color: VAR(--MAIN-GRAY);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}